<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TileWebsite</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag "main_style" %>
  <%= stylesheet_link_tag "freelancer" %>
  <%= stylesheet_link_tag "freelancer.min" %>
  <%= javascript_include_tag "freelancer" %>
  <%= javascript_include_tag "freelancer.min" %>
  <%= javascript_include_tag "jqBootstrapValidation" %>
  <%= javascript_include_tag "contact_me" %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body id="page-top" class="index">

  <%= render "layouts/header" %>

  <section id="portfolio">
    <div class="container">
      <%= yield %>
    </div>
  </section>
  <%= render "layouts/footer" %>

</body>
</html>
